
header{
    height: 100px;
    font-size: 100px;
    color: white;
    background-color: cornflowerblue;
    border-bottom: 5px solid black;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
#links{
    height: fit-content;
    width: fit-content;
    border: 3px solid black;
    border-radius: 15px 50px 30px;
    position: fixed;
    top: 18.8%;
    left: 1%;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
    font-size: larger;
    line-height: 2;
    margin: 10px;
}
#principal, #principal2, #principal3, #principal4, #principal5{
    color:black;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 50%;
    font-size: larger;
}

form{
    width: 50%;
    height: fit-content;
    border: 3px solid black;
    border-radius: 15px 50px 30px;
    margin-bottom: 50px;
    
}
label, select{
    margin-bottom: 10px;
    margin-top: 10px;
}
textarea{
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 3px solid black;
    border-radius: 10px;
}

#container1, #container2, #container3, #container4, #container5{
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;

}
#subAndDrop{
    
    width: fit-content;
    margin-left: 10%;
}
#pScore{
    
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#magicButton{
    width: 50%;
    height: 50px;
    margin-bottom: 100px;
    border-radius: 15px 50px 30px;
}
#copy, #copy2, #copy3, #copy4, #copy5{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
#finalBlock, #finalBlock2, #finalBlock3, #finalBlock4, #finalBlock5{
    height: fit-content;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}
#finalStarScore{
    
    margin-bottom: 50px;
}
h4{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h3{
    line-height: 4;
}

P{
    margin-bottom: 10px;
}
#textarea{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
